*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
/*add background Image and make all item in center*/
body{
    margin: 0;
    padding: 30px 150px 0;
    height: 100vh;
    background-image: url(../img/bg5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*Header styling start*/
.header{
    padding: 0 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}
.socialicon{
    height: 80px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.socialicon img{
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 100%;
}

.logsignbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: chocolate;
    border-radius: 50px;
    height: 28px;
    width: 140px;
    color: white;
    gap: 4px;
    margin-bottom: 10px;
    margin-right: 80px;
}
.logsignbtn a{
    text-decoration: none;
    color:white;
}
.logsignbtn p{
    font-size: 12px;
    font-weight: bold;
}
.logsignbtn div{
    width: 1px;
    height: 28px;
    background-color: grey;
}
/*Header styling end*/

/*navbar styling start*/
.nav,.navitem{
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    font-size: large;
    justify-content: center;
    gap: 20px;
}
.navitem a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 25px;
    font: bolder;
    font-family: 'Times New Roman', Times, serif;
}
/*navbar styling end*/

/*main part styling start*/
.hero{
    margin-top: 20px;
    width: 90%;
    max-width: 480px;
}
.hero h1{
    color: white;
    font-size: clamp(40px, 10vw, 100px);
}
.hero p{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: clamp(14px, 3vw, 20px);
    color: white;
}
.hero button{
    height: 40px;
    width: 120px;
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid yellow;
}
.menu{
    display: none;
}
/*main part styling end*/

/*Tablet*/
@media screen and (max-width:1024px) {
    body{
        padding: 30px 50px 0px;
    }
    .hero h1{
        font-size: 70px;
    }
    .nav a{
        font-size: 20px;
    }
    .menu{
        display: none;
    }
}

/*Mobile*/
@media  screen and (max-width:768px) {
    body{
        padding: 20px 20px 0;
    }
    .header{
        align-items: center;
        height: auto;
        gap: 10px;
    }
    .socialicon{
        display: nne;
    }
    .hero{
        width: 100%;
        text-align: center;
        margin: 10px auto;
    }
    .hero h1{
        font-size: 50px;
    }
    .nav{
        flex-direction: column;
    }
    .navitem{
        display: none;
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
    .navitem.active{
        display: flex;
    }
    .menu{
        display: inline;
        font-size: 25px;
        width: 100px;
        background: none;
        border: none;
        color: yellow;
        font-weight: bold;
        cursor: pointer;
    }
    .logsignbtn{
        margin-right: 0;
        width: 100px;
    }
    .logsignbtn p{
        font-size: 10px;
    }
}